.widget-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"widgetName"
		"widgetValue";

	border: .25em solid var(--logo-green);
	border-radius: .50em;
  margin: 0.5em;

	height: 12em;
	width: 12em;
}

.widget-name {
	grid-area: widgetName;
	align-self: end;
	font-family: Nunito;
	font-size: 2em;
}

.widget-value {
	grid-area: widgetValue;
	font-family: Chakra Petch;
	font-weight: 600;
	font-size: 1.75em;
}