.widget-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"widgetName"
		"widgetValue";

	border: .25em solid seagreen;
	border-radius: .50em;
	margin: 3em 2em auto 2em;

	height: 10em;
	width: 15em;
}

.widget-name {
	grid-area: widgetName;
	align-self: end;
	font-family: Nunito;
	font-size: 2.5em;
}

.widget-value {
	grid-area: widgetValue;
	font-family: Chakra Petch;
	font-weight: 600;
	font-size: 1.75em;
}