.dashboard {
	display: grid;
	grid-template-rows: 3fr 7fr;
	grid-template-areas: "controlsContainer" "displayContainer";

	border: 1em solid darkgreen;
	border-radius: 11.25em 1.75em;
	width: 70em;
	margin: auto;
}

.dashboard-header {
	display: grid;
	grid-template-rows: 5fr 3fr;
	grid-template-areas: "dashboardText" "buttonBar";
}

.dashboard-text {
	display: grid;
	grid-area: dashboardText;
	justify-self: center;
	align-self: center;
	font-family: Gajraj One;
	font-size: 5em;
}

.data-display-container {
	grid-area: displayContainer;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "input1	input2"
											 "input3	input4";
	justify-self: center;
}

.widget-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "widgetName"
												"widgetValue";

	border: .25em solid seagreen;
	border-radius: .50em;
	margin: auto 2em auto 2em;
	height: 10em;
	width: 20em;
}

.widget-name {
	grid-area: widgetName;
	align-self: end;
	font-family: Nunito;
	font-size: 2.5em;
}

.widget-value {
	grid-area: widgetValue;
	align-self: start;
	font-family: Chakra Petch;
	font-weight: 600;
	font-size: 1.75em;
}


.temperature { grid-area: input1; }
.humidity		 { grid-area: input2; }
.vpd 				 { grid-area: input4; }
.timestamp	 { grid-area: input3; }




