.dashboard {
	display: grid;
	grid-template-columns: 50fr 50fr;
	grid-template-areas:
		"leftSide rightSide";

	background-color: var(--logo-sand);
	border: 1em solid var(--logo-orange);
	border-radius: 11.25em 1.75em;
	width: 70em;
	margin: auto;
	padding: 2.25em;
}

.background-image {
	display: grid;
	grid-area: leftSide;

	width: 100%;
  padding: 1em;
}

.right-side-container {
	display: grid;
	grid-area: rightSide;

	grid-template-rows: 20% 80%;
	grid-template-areas: 
		"headerContainer"
		"widgetBuildContainer";

	box-sizing: border-box;
	height: 100%;
	padding-bottom: 1em;
}

.dashboard-header {
	display: grid;
	grid-area: headerContainer;

  grid-template-rows: 50% 50%;
  font-size: .9em;
}

.dashboard-title {
	place-self: center;

	font-family: Gajraj One;
	font-size: 4em;
	letter-spacing: .1em;
	color: var(--logo-brown);
}

.quote-container {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-gap: 0;

	justify-content: end;
  padding-right: 2em;
}

.dashboard-quote {
	display: grid;

	font-size: 2em;
	font-family: Nunito;
}

.dashboard-quote-author {
	display: grid;

	justify-content: end;
  padding-right: 1em;
}

.widget-build-container {
	display: grid;
	grid-area: widgetBuildContainer;

	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"input1	input2"
		"input3	input4";
	grid-gap: 1em;
	place-self: center	;

	padding: 1em;
	height: 95%;
}

.time { grid-area: input1; }
.vpd 	{ grid-area: input2; }
.temp { grid-area: input3; }
.rh		{ grid-area: input4; }




