.dashboard {
	font-size: 1.25em;
	display: grid;
	grid-template-rows: 3fr 7fr;
	grid-template-areas: "btnContainer" "displayContainer";

	border: 1px solid black;
	width: calc(100vw - 20vw);
	margin: auto;
}

.dashboard-header {
	display: grid;
	grid-template-rows: 5fr 3fr;
	grid-template-areas: "dashboardText" "buttonBar";
}

.dashboard-text {
	display: grid;
	grid-area: dashboardText;
	justify-self: center;
	align-self: center;
	font-size: 5em;
}

.btn-container {
	display: grid;
	grid-area: buttonBar;
}

.btn {
	display: grid;
	align-self: center;
	justify-self: center;
	align-items: center;

	height: 4em;
	width: 7em;
	border: .15em solid darkgray;
}

.data-display-container {
	grid-area: displayContainer;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "input1	input2"
											 "input3	input4";
}

.widget-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "widgetName"
												"widgetValue";

	border: .25em solid seagreen;
	margin: auto;
	height: 10em;
	width: 10em;
}

.widget-name {
	grid-area: widgetName;
	align-self: end;
}

.widget-value {
	grid-area: widgetValue;
	align-self: start;
}


.temperature { grid-area: input1; }
.humidity		 { grid-area: input2; }
.vpd 				 { grid-area: input4; }
.timestamp	 { grid-area: input3; }




