.dashboard-controls-container {
	display: grid;
	grid-area: controlsContainer;
	grid-template-columns: repeat(5,1fr);
	grid-template-areas:
		"updateBtn tempBtn humidityBtn timeBtn vpdBtn";

	justify-self: center;
}

.dashboard-control-btn {
	border-radius: .25em;
	margin: auto 1em auto 1em;
	align-content: center;
	font-family: Roboto Mono;
}

.update-btn {
	display: grid;
	grid-area: updateBtn;
}

.temp-btn {
	display: grid;
	grid-area: tempBtn;
}

.humidity-btn {
	display: grid;
	grid-area: humidityBtn;
}

.time-btn {
	display: grid;
	grid-area: timeBtn;
}

.vpd-btn {
	display: grid;
	grid-area: vpdBtn;
}